In [4]:
import pandas as pd
input_file = "/Users/issameabdeljalil/Desktop/M2_MOSEF/Finance/Projet_Webscrapping/real_tabulation_scraped_data.csv"  # Remplacez par le chemin vers votre fichier CSV
data = pd.read_csv(input_file, delimiter="\t", on_bad_lines='skip')

In [5]:
data.head()

,name,grade,country,date,industry,employees
0,"1-800-FLOWERS.COM, Inc.",22.6,United States of America,"Apr 8, 2024",Retailing,"4,000"
1,1&1 AG,27.7,Germany,"Oct 14, 2024",Telecommunication Services,"3,280"
2,"10X Genomics, Inc.",22.5,United States of America,"Apr 10, 2024",Pharmaceuticals,"1,259"
3,11 Bit Studios SA,16.3,Poland,"Jan 31, 2023",Software & Services,299
4,1st Source Corp.,35.0,United States of America,"Oct 1, 2024",Banks,"1,170"

In [3]:
print(data.columns)

Index(['name\tgrade\tcountry\tdate\tindustry\temployees'], dtype='object')